<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head',{title: 'Carrito de compras'})%>
    
    <body>
        <%-include('./partials/header')%>

        <section class="section-common product-detail">
            <div class="container">

                <h2>Resumen de tu compra</h2>

                <div class="row">
                    <div class="col">
                        <div class="img-event" style="background-image: url('/images/<%=selectedEvent.image%>');">
                        </div>
                    </div>
                    
                    <div class="col">
                        <% if(selectedEvent.featured){ %>
                        <span class="featured">Evento Destacado</span>
                        <% } %>
                        
                        <div class="header">
                            <div class="date">
                                <div class="calendar">
                                    <span><%=selectedEvent.date.getUTCDate()%>/<%=selectedEvent.date.getMonth()+1%></span>
                                    <span><%=selectedEvent.date.getFullYear()%></span>
                                </div>
                                <div class="time">
                                    <p><%=selectedEvent.hora%></p>
                                </div>
                            </div>
                            <h1><%=selectedEvent.name%></h1>
                        
                        </div>
                        
                        <div class="location">
                            <%=selectedEvent.address%> - <%=selectedEvent.city%>
                        </div>
                        
                        <p class="desc"><%=selectedEvent.description%></p>
                        
                        <hr>
                        
                        <div class="payment-methods">
                            <h5>Tarjetas admitidas</h5>
                            <div class="cards">
                                <img src="/images/visa.png" alt="">
                                <img src="/images/AEX.png" alt="">
                                <img src="/images/master.png" alt="">
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="payment-methods">
                            
                            <form action="/carro/<%=selectedEvent.id%>" method="POST" >
                            
                                <div class="price">
                                    <h5>Precio</h5>
                                    <span id="price"><%= selectedEvent.price %> $</span>
                                </div>

                                <div class="price">
                                    <h5>Cantidad de entradas</h5>
                                    <input name="quantity" id="cantidad-entradas" type="number" class="select-number" value='0' min='0' max='10'/>
                                </div>

                                <div class="price mb">
                                    <h5 class="label-yellow">TOTAL</h5>
                                    <span class="label-yellow" id="total">0 $</span>
                                </div>

                                <button type="submit" class="btn" id="confirmar">Confirmar compra</button>

                            </form>
                            
                        </div>
                        
                        <!--video controls src="/images/<%=selectedEvent.video%>" ></video-->
                    </div>
                </div>

            </div>
        </section>

        <script src= "/js/carro.js" ></script>
        <%-include('./partials/footer')%>
    </body>
</html>