<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head',{title: 'Carrito de compras'})%>
    
<body>
   
    <%-include('./partials/header')%>
   
<main>
    <section class="contenedor-sections">
        <div class="foto">
            <img class="Holapuqui" src="/images/<%= selectedEvent.image %>" alt="Imagen del Evento">
        </div>

            <section class="resumen-contenedor">
                <p class="c_f_pd">Resumen de tu compra:</p>
                <div class="resumen-body">
                    <div class="c_i_pd">
                        <p class="info_banner_2">
                            <%=selectedEvent.name%>
                        </p>
                    </div>
                    <div class="c_f_pd">
                        <p class="info_banner_2">
                            <%=selectedEvent.address%>
                        </p>
                    </div>
                    <div class="resumen-item">
                      
                        <div class="resumen-item-detalle">
                            <div class="c_f_pd">
                                Fecha: 
                            </div>
                            <div class="c_f_pd">
                                <%=selectedEvent.date.getUTCDate()%> /
                                <%=selectedEvent.date.getMonth()+1%> /
                                <%=selectedEvent.date.getFullYear()%>
                            </div>
                        </div>
            
                        <div class="resumen-item-detalle">
                            <div class="c_f_pd">
                                Precio: 
                            </div>
                            <div class="c_f_pd" id="price">
                                <%= selectedEvent.price %> $
                            </div>
                        </div>

                        <div class="resumen-item-detalle">
                            <form action="/carro/<%=selectedEvent.id%>" method="POST" >
                                
                            <label class="c_f_pd">Selecciona la cantidad de entradas: </label>
                            <input name="quantity" id="cantidad-entradas" type="number" class="desplegables" value='0' min='0' max='10'/>
                            
                            <div class="resumen-item-detalle">
                                <div class="c_f_pd">Total</div>
                                <div class="c_f_pd" id="total" > 0 $ </div>
                            </div>

                            <div class="resumen-item-detalle" class="botones_detalle">
                                <button type="submit" class="boton-resumen" id="confirmar">Confirmar compra</button>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
<script src= "/js/carro.js" ></script>
<%-include('./partials/footer')%>
</body>
</html>