<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Formulario de edicion' }) %>

  <body>

    <%-include('./partials/header')%>

    <main>
      
      <div class="create-container">

        <div class="form-title">
          <h2>Formulario de edicion de productos</h2>
        </div>

        <div class="form-container">
          <form action="/productDetail/<%=selectedEvent.id%>/edit?_method=PUT" enctype="multipart/form-data"
            method="POST">

            <label class='form-label' for="name">Nombre del Evento:</label>
            <input class="form-input" type="text" id="name" name="name" value="<%=selectedEvent.name%>" />

            <label class='form-label' for="price">Precio de la entrada:</label>
            <input class="form-input" type="number" id="price" name="price" value="<%=selectedEvent.price%>" />

            <label class='form-label' for="discount">Descuento:</label>
            <input class="form-input" type="number" id="discount" name="discount" value="<%=selectedEvent.discount%>" />

            <label class='form-label' for="date">Fecha:</label>
            <input class="form-input" type="text" id="date" name="date" value="<%=selectedEvent.date%>" />

            <label class='form-label' for="address">Lugar:</label>
            <input class="form-input" type="text" id="address" name="address" value="<%=selectedEvent.address%>" />

            <label class='form-label' for="city">Ciudad:</label>
            <input class="form-input" type="text" id="city" name="city" value="<%=selectedEvent.city%>" /> -->

            <label class='form-label' for="category">Categoria:</label>
            <select name="category" id="category" class="form-input">
              <option value="">Elegí</option>
              <option value="Buenos Aires">Buenos Aires</option>
              <option value="Cordoba">Cordoba</option>
              <option value="Rosario">Rosario</option>
              <option value="Otras Provincias">Otras Provincias</option>
            </select>

            <label class='form-label' for="image">Imagen del evento:</label>
            <input class="form-input" type="hidden" name="oldimage" value="<%=selectedEvent.image%>" />
            <input class="form-input" type="file" id="image" name="image" />

            <label class='form-label' for="description">Descipción:</label>
            <textarea name="description" id="description" class="form-input"> <%=selectedEvent.description%></textarea>

            <div class='purchase-detail'>
              <button type="submit">
                Guardar evento
              </button>
            </div>

          </form>
        </div>
      </div>


    </main>

    <%-include('./partials/footer')%>
  </body>

</html>