<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head',{title: 'Carrito de compras'})%>

    <body>
        
        <%-include('./partials/header')%>

        <section class="section-common product-detail">
          <div class="container">

            <div class="row">
                <div class="col">
                  <div class="img-event" style="background-image: url('/images/<%=selectedEvent.image%>');">              
                  </div>
                </div>
                <div class="col">
                  
                  <% if(selectedEvent.featured){ %>
                    <span class="featured">Evento Destacado</span>
                  <% } %>
      
                  <div class="header">
                    <div class="date">
                      <div class="calendar">
                        <span><%=selectedEvent.date.getUTCDate()%>/<%=selectedEvent.date.getMonth()+1%></span>
                        <span><%=selectedEvent.date.getFullYear()%></span>
                      </div>
                      <div class="time">
                        <p><%=selectedEvent.hora%></p>
                      </div>
                    </div>
                    <h1><%=selectedEvent.name%></h1>
                    
                  </div>
      
                  <div class="location"><%=selectedEvent.address%> - <%=selectedEvent.city%></div>
      
                  <p class="desc"><%=selectedEvent.description%></p>
      
                  <hr>
      
                  <div class="payment-methods">
                    <h5>Tarjetas admitidas</h5>
                    <div class="cards">
                      <img src="/images/visa.png" alt="">
                      <img src="/images/AEX.png" alt="">
                      <img src="/images/master.png" alt="">
                    </div>
                  </div>
      
                  <hr>
      
                  <a href="/carro/<%=selectedEvent.id%>" class="btn">Comprar</a>
                  
                  <!--video controls src="/images/<%=selectedEvent.video%>" ></video-->
      
                </div>
              </div>    

          </div>
        </section>
   
<main>
    <section class="contenedor-sections">
        <div class="foto">
            <img class="Holapuqui" src="/images/<%= selectedEvent.image %>" alt="Imagen del Evento">
        </div>

            <section class="resumen-contenedor">
            <p class="c_f_pd">Muchas Gracias por tu compra!</p>
            <div class="resumen-body">
                <div class="c_i_pd">
                    <p class="info_banner_2">
                        <%=selectedEvent.name%>
                    </p>
                </div>
                <div class="c_f_pd">
                    <p class="info_banner_2">
                        <%=selectedEvent.address%>
                    </p>
                </div>
                <div class="resumen-item">
            
                    <div class="resumen-item-detalle">
                        <div class="c_f_pd">
                            Fecha:
                        </div>
                        <div class="c_f_pd">
                            <%=selectedEvent.date.getUTCDate()%> /
                                <%=selectedEvent.date.getMonth()+1%> /
                                    <%=selectedEvent.date.getFullYear()%>
                        </div>
                    </div>

                    <div class="resumen-item-detalle">
                        <div class="c_f_pd">
                           El codigo de tu compra es:
                        </div>
                        <div class="c_f_pd">
                          0000  <%= sale.id %>
                        </div>
                    </div>
            
            
            
                    <div class="resumen-item-detalle">
                        <div class="c_f_pd">
                            Enviaremos tus entradas a:
                        </div>
                        <div class="c_f_pd">
                            <%= user.email %>
                        </div>
                    </div>
            
                    <div class="resumen-item-detalle" class="botones_detalle">
                        <a href="/events"><button class="boton-resumen">Ver mas eventos</button></a>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </section>
</main>

<%-include('./partials/footer')%>
</body>
</html>