<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Formulario de creación' }) %>

  <body>

    <%-include('./partials/header')%>

      <main>
        <div class="create-container">

          <div class="form-title">
            <h2>Formulario de creación de eventos</h2>
          </div>

          <%if (locals.errors){%>
            <ul>
            <%for(let i=0;i < errors.length;i++){%>         
                <li class="msgError"><%=errors[i].msg%> </li>
            <%}%>
          </ul>
          <%}%>

          <div class="form-container">
            <form action="/events/create" enctype="multipart/form-data" method="POST">

              <label class='form-label' >Nombre del Evento:</label>
              <input class="form-input" type="text" name="name" placeholder="Ej: Recital Los Piojos" value= "<%= locals.old && old.name ? old.name : ''  %>"/>

              <label class='form-label' >Precio de la entrada:</label>
              <input class="form-input" type="number" name="price" placeholder="Ej: 20" value= "<%= locals.old && old.price ? old.price : ''  %>" />

              <label class='form-label' >Stock de entradas disponibles:</label>
              <input class="form-input" type="number" name="stock" placeholder="Ej: 1000" value= "<%= locals.old && old.discount ? old.discount : ''  %>" />

              <label class='form-label' for="date">Fecha:</label>
              <input class="form-input" 
              type="date" 
              name="date" 
              min= "2022-07-16"
              max="2024-07-16"
              placeholder="Ej: 12/07/22" value= "<%= locals.old && old.date ? old.date : ''  %>" />

              <label class='form-label' for="address">Lugar:</label>
              <input class="form-input" type="text" name="address" placeholder="Ej: Luna Park" value= "<%= locals.old && old.address ? old.address : ''  %>" />

              <label class='form-label' >Ciudad:</label>
              <input class="form-input" type="text" name="city" placeholder="Rosario"  value= "<%= locals.old && old.city ? old.city : ''  %>" /> -->

              <label class='form-label' >Categoria:</label>
              <select name="category_id"  type="number" class="form-input">

                <%for (let i=0; i< categorias.length ; i++){ %>
                  <option value="<%=categorias[i].id%>"><%=categorias[i].category%></option>
                <% } %>

              </select>

              <label class='form-label' >Imagen del evento:</label>
              <input class="form-input" type="file" name="image" />

              <label class='form-label' for="description">Descipción:</label>
              <textarea name="description" id="description" class="form-input" value= "<%= locals.old && old.description ? old.description : ''  %>"></textarea>

              <div class='purchase-detail'>
                <button type="submit">
                  Guardar evento
                </button>
              </div>

            </form>
          </div>
        </div>

      </main>

      <%-include('./partials/footer')%>
  </body>

</html>