<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title: 'Bienvenidos'}) %>
  <script src="js/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <link href="css/owl.carousel.min.css" rel="stylesheet">
  <link href="css/owl.theme.default.min.css" rel="stylesheet" >
  <link href="css/carousel-home.css" rel="stylesheet" />
  <body>
    <%-include('./partials/header')%>

    <%for (let j=0;j< category.length; j++) {%>      
      <% if(category[j].slug == "destacados") {%>
        <section id="main-banner">
          <script>
            $(document).ready(function(){
              $('#carousel-home').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                nav:true,
                responsive:{
                  0:{
                    items:1,
                  }
                }
              });
            });
          </script>
          <div id="carousel-home" class="owl-carousel owl-theme">

            <% let  seleccion = event.filter(elemento => elemento.featured === true)%>
            <% for (let i=0; i < seleccion.length; i++) {%>
    
            <article>
              <div class="container">
                <div class="image">
                    <img src="../images/<%= seleccion[i].image%>"/>
                </div>
                <div class="caption">
                    <h5>Eventos Destacados</h5>
                    <h3><%= seleccion[i].name %></h3>
                    <p><%= seleccion[i].description.slice(0,80).concat('...'); %></p>
                    <div class="container-btn">
                        <a href="/events/<%=seleccion[i].id%>" class="btn">M치s informaci칩n</a>
                    </div>
                </div>
              </div>
            </article>

            <% } %>
    
          </div>
        </section>
      <% } %>
    <% } %><!-- Fin IF destacados -->

    <%for (let j=0;j< category.length; j++) {%>

      <% if(category[j].slug !== "destacados") {%>

        <section class="carousel-events">

          <h2>Eventos en <%= category[j].category %></h2>

          <script>       
          $(document).ready(function(){ 
            $('#carousel-events-<%= category[j].slug.toString() %>').owlCarousel({
                loop:true,
                margin:20,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    570:{
                        items:2
                    },
                    768:{
                        items:3
                    },
                    1024:{
                        items:5
                    }
                }
            });
          });
          </script>

          <div id="carousel-events-<%= category[j].slug.toString() %>" class="owl-carousel owl-theme owl-theme-a">
            
            <% let  seleccion = event.filter(elemento => elemento.category_id === category[j].id)%>
            <% for (let i=0; i < seleccion.length; i++) {%>
            <div class="item">
              <article>
                <div class="caption">
                  <% if(seleccion[i].featured){ %>
                    <span class="featured"></span>
                  <% } %>
                  <h4 class="title"><%= seleccion[i].name %></h4>
                  <p class="desc"><%= seleccion[i].description.slice(0,80).concat('...'); %></p>
                  <a href="/events/<%=seleccion[i].id%>" class="btn">M치s informaci칩n</a>
                </div>
              </article>
              <div class="image">
                <img src="../images/<%= seleccion[i].image%>"/>
              </div>
            </div>
            <% } %>  

          </div>

        </section>

      <% } %>

    <% } %><!-- Fin FOR Categorias -->
      
    
    <%-include('./partials/footer')%>
    <script src="/js/share.js"></script>
  
  </body>

</html>