<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Eventos'}) %>
    <body>
        <%-include('./partials/header')%>
        
        <section class="section-common">
            <div class="container">
                <h2>Todos los eventos</h2>

                <div class="event-container">
                <% for (let i=0; i < event.length; i++) {%>
                    <article style="background-image: url('/images/<%= event[i].image %>');" >
                        <div class="caption">
                            <h4 class="title"><%= event[i].name%></h4>
                            <p class="desc"> <%= event[i].description.slice(0,80).concat('...'); %></p>
                            <a class="btn" href="/events/<%=event[i].id%>">
                                Mas informacion
                            </a>
                        </div>
                    </article>
                <%}%>
                </div>

            </div>
        </section>
        <%-include('./partials/footer')%>

    </body>
</html>