<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: selectedEvent.name}) %>
  
  <body>
    
    <%-include('./partials/header')%>

    <section class="section-common product-detail">
      <div class="container">

        <div class="row">
          <div class="col">
            <div class="img-event" style="background-image: url('/images/<%=selectedEvent.image%>');">
            </div>
          </div>
          <div class="col">

            <div class="header">
              <div class="date">
                <div class="calendar">
                  <span><%=selectedEvent.date.getUTCDate()%>/<%=selectedEvent.date.getMonth()+1%></span>
                  <span><%=selectedEvent.date.getFullYear()%></span>
                </div>
                <div class="time">
                  <p><%=selectedEvent.hora%></p>
                </div>
              </div>
              <h1><%=selectedEvent.name%></h1>
              
            </div>

            <div class="location"><%=selectedEvent.address%></div>

            <p class="desc"><%=selectedEvent.description%></p>

            <hr>

            <div class="payment-methods">
              <h5>Tarjetas admitidas</h5>
              <div class="cards">
                <img src="/images/visa.png" alt="">
                <img src="/images/AEX.png" alt="">
                <img src="/images/master.png" alt="">
              </div>
            </div>

            <hr>

            <a href="/carro/<%=selectedEvent.id%>" class="btn">Comprar</a>
            
            <!--video controls src="/images/<%=selectedEvent.video%>" ></video-->

          </div>
        </div>

      </div>
    </section>

    <section class="section-common">
      <div class="container">
        <h2>Tambien podria interesarte</h2>

        <div class="event-container">
        <% for (let i=0; i < recomendedEvent.length; i++) {%>
            <article style="background-image: url('/images/<%= recomendedEvent[i].image %>');" >
                <div class="caption">
                    <h4 class="title"><%= recomendedEvent[i].name%></h4>
                    <p class="desc"><%= recomendedEvent[i].description.slice(0,60).concat('...'); %></p>
                    <a class="btn" href="/events/<%=recomendedEvent[i].id%>">
                        Mas informacion
                    </a>
                </div>
            </article>
        <%}%>
        </div>

      </div>
    </section>

    <%-include('./partials/footer')%>
  </body>
</html>