<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Detalle del evento'}) %>
<body>

  <%-include('./partials/header')%>
           
<main>    
    <article class="banner_section_2">
      <div class="c_tc_pd"> <p class="titulo_banner_2"><%=selectedEvent.name%></p>  </div>
        <div class="contenedor_imagen_banner_pd">

          <img class="img_evento_principal_2" src="/images/<%=selectedEvent.image%>" width="50" alt="Imagen evento" class="product_img"> 
          
              
         </div>

      <div class="contenedor_banner_3">
         <div class="c_t_pd"> <p class="titulo_banner_2"><%=selectedEvent.name%></p>  </div>
         <div class="c_i_pd"><p class="info_banner_2"><%=selectedEvent.address%> </p> </div>
         <div class="c_f_pd">
          <p class="info_banner_2">  
          <%=selectedEvent.date.getUTCDate()%> /
          <%=selectedEvent.date.getMonth()+1%> /
          <%=selectedEvent.date.getFullYear()%>
        </p> 
        </div>
         <div class="c_h_pd"><p class="info_banner_2">  <%=selectedEvent.hora%></p> </div>
         
         <div class="c_d_pd"> <p class="description_banner_2"> <%=selectedEvent.description%></p> </div>
         
         <div class="c_descuentos_pd">
            <div class="c_banco_pd"> <img src="/images/visa.png" alt=""> </div>
            <div class="c_banco_pd"> <img src="/images/AEX.png" alt=""> </div>
            <div class="c_banco_pd"> <img src="/images/master.png" alt=""> </div>
        </div> 
           
            
            <div class="c_bs_pd">
                <div class="botones_detalle">
                  <a href="/carro/<%=selectedEvent.id%>"><button type="button" >Comprar</button></a>
                </div>
                <!-- <div class="botones_detalle">
                    <a href="/events/<%=selectedEvent.id%>/edit"><button type="button" >Editar Evento</button></a> 
                </div> -->
            </div>      

        </div>       
         
              
      </article>
      <div class="Video_Evento">
      <video controls src="/images/<%=selectedEvent.video%>" ></video>
     </div>
       <section class="eventos">
            <h3>Tambien podria interesarte</h3>
            
            <div class="products">
                <% for (let i=0; i < recomendedEvent.length; i++) {%>
                <article>
                  <div class="main-article">
                    <img
                      class="img_evento"
                      src="/images/<%= recomendedEvent[i].image%>"
                      width="360"
                      alt="Imagen evento"
                    />
                    <p class="titulo_producto"><%= recomendedEvent[i].name%></p>
                    <p class="description">
                      <%= recomendedEvent[i].description%>
                    </p>
                    <a class="info" href="/events/<%=recomendedEvent[i].id%>">
                      Mas informacion ></a>
                  </div>
                </article>
                <%}%>     
              </div>
           
        </section>
    </main>  
    <%-include('./partials/footer')%>
</body>
</html>