<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Formulario de registro de usuario' }) %>

  <body>

    <%-include('./partials/header')%>

      <div class="create-container">
        <div class="form-title">
          <h2>Registrate:</h2>
        </div>


        <%if (locals.errors){%>
          <ul>
          <%for(let i=0;i < errors.length;i++){%>         
              <li class="msgError"><%=errors[i].msg%> </li>
          <%}%>
        </ul>
        <%}%>
      

        <div class="form-container">
          <form action="/register" enctype="multipart/form-data" method="POST">

            <label class='form-label' for="first_name">Ingresa tu Nombre:</label>
            <input class="form-input" type="text" name="first_name" placeholder="Nombre" 
            value= "<%= locals.old && old.first_name ? old.first_name : ''  %>" />
 
            <label class='form-label' for="last_name">Ingresa tu Apellido:</label>
            <input class="form-input" type="text" name="last_name" placeholder="Apellido"
            value= "<%= locals.old && old.last_name ? old.last_name : ''  %>" />

            <label class='form-label' for="email">Ingresa tu email:</label>
            <input class="form-input" type="email" name="email" placeholder="aaa@bbbb.com" 
            value= "<%= locals.old && old.email ? old.email: ''  %>"/>

            <label class='form-label' for="password">Ingresa tu Contraseña:</label>
            <input class="form-input" type="password" name="password" placeholder="Contraseña" 
            value= "<%= locals.old && old.password ? old.password : ''  %>"/>

            <label class='form-label' for="category">Categoria:</label>
            <select name="category" id="category" class="form-input">
              <option value="">Elegí</option>
              <option value="user" <%= locals.old && old.category ==='user' ? 'selected' : ''  %> >Usuario</option>
              <option value="admin" <%= locals.old && old.category ==='admin' ? 'selected' : ''  %>>Administrador</option>

            </select>

            <label class='form-label' for="userImage">Imagen de usuario</label>
            <input class="form-input" type="file" id="userImage" name="userImage" />

            <div class='purchase-detail'>
              <button type="submit">
                Confirmar
              </button>
            </div>

          </form>
        </div>
      </div>
      <%-include('./partials/footer')%>
  </body>

</html>