<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Listado de usuarios' }) %>

    <body>
        <%-include('./partials/header')%>

            <main>
                <h1>Listado de Usuarios</h1>
                <br>
                <br>

                <div class="container">
                    <% users.forEach(user=> { %>
                        <article class="card">
                            <div class="card-left">
                                <figure>
                                    <img src="/images/users/<%= user.image ? user.image : 'default.png' %>" alt="">
                                </figure>
                                <h3>#<%= user.id %>
                                </h3>
                            </div>
                            <div class="card-content">
                                <h3>
                                    <%= user.first_name %>
                                        <%= user.last_name %>
                                </h3>
                                <h2>Categoría: <%= user.category %>
                                </h2>
                                <h2>Email: <%= user.email %>
                                </h2>
                                <div class="botones_detalle">
                                    <a href="edit/<%= user.id %>"><button type="button">Editar</button></a>

                                    <form action="/register/delete/<%=user.id%>?_method=DELETE"
                                        enctype="multipart/form-data" method="POST"> <button
                                            type=" button">Borrar</button></form>

                                </div>
                            </div>
                        </article>
                        <% }) %>
                </div>
            </main>

            <%-include('./partials/footer')%>
    </body>

</html>