<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Listado de usuarios' }) %>

    <body>
        <%-include('./partials/header')%>
        
        <section class="section-common product-detail list-event-user">
            <div class="container">
                <h2>Listado de Usuarios</h2>

                <% users.forEach(user=> { %>
                    <div class="grid-elements">
                        <div class="data-image">
                            <img src="/images/users/<%= user.image ? user.image : 'default.png' %>" alt="">
                        </div>
                        <div class="data-info users">
                            <div class="data-item">
                                <span class="title"># <%= user.id %> - <%= user.first_name %> <%= user.last_name %></span>
                                <span class="date">Categoría: <%= user.category %></span>
                                <span class="address"><%= user.email %></span>
                            </div>
                            <div class="controls">
                                <a class="btn" href="edit/<%= user.id %>">Editar</a>
                                <form action="/register/delete/<%=user.id%>?_method=DELETE"
                                    enctype="multipart/form-data" 
                                    method="POST">
                                    <button  class="btn btn-delete" type="button">Borrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                <% }) %>

            </div>
        </section>
        <%-include('./partials/footer')%>
    </body>

</html>